/* line 1, ../scss/_reset.scss */
h1, h2, h3, p, ul, ol, li {
  margin: 0;
  padding: 0; }

/* line 6, ../scss/_reset.scss */
header, footer, nav, section, article, aside, figure, figcaption {
  display: block; }

/* line 10, ../scss/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, ../scss/_typography.scss */
html {
  font-family: Georgia, serif;
  line-height: 1.75rem; }

/* line 9, ../scss/_typography.scss */
h1 {
  font-size: 3rem;
  line-height: 3.5rem; }

/* line 14, ../scss/_typography.scss */
h2 {
  font-size: 1.75rem; }

/* line 18, ../scss/_typography.scss */
h3 {
  font-size: 1.5rem; }

/* line 24, ../scss/_typography.scss */
p,
ul,
ol {
  font-size: 1rem; }

/* line 28, ../scss/_typography.scss */
li {
  margin-left: 1rem; }

/* line 1, ../scss/_layout.scss */
html {
  background: #cccccc; }

/* line 5, ../scss/_layout.scss */
body {
  max-width: 65rem;
  min-width: 20rem;
  margin: 0 auto; }

/* line 11, ../scss/_layout.scss */
.page {
  margin: 0.5rem;
  background: white;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.25); }

/* line 17, ../scss/_layout.scss */
img {
  max-width: 100%;
  height: auto;
  width: auto; }

/* line 1, ../scss/_module_section.scss */
h1 {
  padding: 3rem 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.875);
  background: #263657; }

/* line 8, ../scss/_module_section.scss */
.amp {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1.0625rem 0 0 .625rem;
  margin-bottom: -2.5rem;
  -webkit-border-radius: 1.75rem;
  -moz-border-radius: 1.75rem;
  -ms-border-radius: 1.75rem;
  -o-border-radius: 1.75rem;
  border-radius: 1.75rem;
  display: block;
  position: relative;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
  font-family: "garamond-premier-pro", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.75rem;
  color: rgba(0, 0, 0, 0.75);
  background: gold; }

/* line 28, ../scss/_module_section.scss */
p {
  padding: 2rem 2rem 0 2rem; }

/* line 32, ../scss/_module_section.scss */
p:last-of-type {
  padding-bottom: 2rem; }

/* line 36, ../scss/_module_section.scss */
.amp + p::first-letter {
  margin: .5rem .375rem 0 0;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  float: left;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: white;
  background: #395283; }
