@mixin bp($point) {
  @if $point == 25 {
    @media (min-width: 25em) { @content; } // 400px
  }
  @else if $point == 30 {
    @media (min-width: 30em) { @content; } // 480px
  }
  @else if $point == 35 {
    @media (min-width: 35em) { @content; } // 560px
  }
  @else if $point == 40 {
    @media (min-width: 40em) { @content; } // 640px
  }
  @else if $point == 45 {
    @media (min-width: 45em) { @content; } // 720px
  }
  @else if $point == 50 {
    @media (min-width: 50em) { @content; } // 800px
  }
  @else if $point == 55 {
    @media (min-width: 55em) { @content; } // 880px
  }
  @else if $point == 60 {
    @media (min-width: 60em) { @content; } // 960px
  }
}