html {
  background: $grey;
}

body {
  max-width: 65rem; // 1040px
  min-width: 20rem; // 320px
  margin: 0 auto;
}

.page {
  margin: 0.5rem; // 8px
  background: white;
  box-shadow: 0 0 2.5rem rgba(black, 0.25);
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}