h1 {
  padding: 3rem 2rem;
  text-align: center;
  color: rgba(white, 0.875);
  background: $navy;
}

.amp {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1.0625rem 0 0 .625rem;
  margin-bottom: -2.5rem;
  @include border-radius(1.75rem);

  display: block;
  position: relative;
  top: -1.75rem;
  left: calc(50% - 1.75rem);

  font-family: "garamond-premier-pro", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.75rem;
  color: rgba(0, 0, 0, 0.75);
  background: gold;
}

p {
  padding: 2rem 2rem 0 2rem;
}

p:last-of-type {
  padding-bottom: 2rem;
}

.amp + p::first-letter {
  margin: .5rem .375rem 0 0;
  width: 2.5rem;
  height: 2.5rem;
  @include border-radius(.25rem);

  float: left;

  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: white;
  background: lighten($navy, 12.5%);
}