//////// webfonts ////////

//////// typography ////////
html {
  font-family: Georgia, serif;
  line-height: 1.75rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p,
ul,
ol {
  font-size: 1rem;
}

li {
  margin-left: 1rem;
}